body {
    background-color: #f6faff;
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 20px;
    direction: rtl;
    text-align: right;
    color: #333;
}

.footer{
    background-image: linear-gradient(rgb(70, 97, 255), rgb(45, 12, 196));
    padding: 45px 60px;
    border-radius: 30px;
    width: 75%;
    position: relative;
    box-shadow: 0px 10px 40px;
    margin: auto;
}

.search-container {
    position: relative;
    width: 55%;
    max-width: 600px;
    margin:  auto;
    border-radius: 30px;
}

.search-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    /*transform: translateY(-50%);*/
    pointer-events: none;
}

.search-icon svg {
    fill: #888;
    width: 24px;
    height: 24px;
    top:100px;
    left: 50px;
    margin-right: 8px;
}

#search-input {
    width: 75%;
    padding: 12px 20px 12px 50px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 30px;
    direction: rtl;
}

@media screen and (max-width: 768px) {
    #search-input {
        font-size: 14px;
        padding: 10px 15px 10px 45px;
    }

    .search-icon {
        left: 10px;
    }

    .search-icon svg {
        width: 20px;
        height: 20px;
    }
}

.circle-button {
    background-color: #4a9;
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: left;
    align-items: start;
    text-decoration: none;
    cursor: pointer;
}
.circle-button svg {
    width: 32px;
    height: 32px;
}
.circle-button:hover {
    background-color: #357ABD;
}

@media (max-width: 480px) {
    .circle-button {
        width: 48px;
        height: 48px;
    }
    .circle-button svg {
        width: 24px;
        height: 24px;
    }
}

  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  h1, h2, h3 {
    color: #444;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 28px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 22px;
    border-left: 4px solid #00a8cc;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    line-height: 1.8;
    margin-bottom: 15px;
  }
  ul {
    list-style-type: disc;
    margin: 15px 0;
    padding-right: 20px;
  }
  li {
    margin-bottom: 10px;
  }
  pre {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    overflow-x: auto;
    white-space: pre-wrap;
  }
  .section {
    margin-bottom: 30px;
  }
