header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f1f1f1;
}

.header-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

#calendar {
    max-width: 300px;
    margin: 0 auto;
}
